.team-container{

    background-color: rgb(35, 178, 197);
    padding:10px;
    height:250px;
    margin-top:2px;
}
.team-container h5{

    margin-left: 45px;
}
.team-container small{

    margin-left: 30px;
    
}
